.container {
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1;
  img {
    cursor: pointer;
    height: 60px;
  }
  .input {
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    width: 30%;
    input {
      border: none;
      width: 100%;
      outline: none;
    }
    svg {
      color: #3147a4;
      height: 40px;
    }
  }
}
